<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreenshotsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6DE03D71EC5B1C5001E3AB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6DE03F01EC5B1C5001E3AB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6DE03FB1EC5B1C5001E3AB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
